.btn {
    background-color: transparent;
    padding: 10px 15px;
    border: 0 solid transparent;
    margin-top: 20px;
    border-radius: 10px
}

.btn--default {
    background-color: #E0E0E0;
    box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
}

.btn--default.active, .btn--default:hover {
    background-color: #AEAEAE; 
}

.btn--outline {
    border: 1px solid #3D5AFE;
    color: #3D5AFE;
}

.btn--outline.active, .btn--outline:hover {
    background-color: rgba(41, 98, 255, 0.1);
}

.btn--text {
    color: #3D5AFE;
}

.btn--text.active, .btn--text:hover {
    background-color: rgba(41, 98, 255, 0.1);
}

.btn--primary {
    background-color: #3D5AFE;
    color: #fff
}

.btn--primary.active,.btn--primary:hover {
    background-color: #0039CB;
}

.btn--secondary {
    background-color: #455A64;
    color: #fff;
}

.btn--secondary.active, .btn--secondary:hover {
    background-color: #1C313A;
}

.btn--danger {
    background-color: #D32F2F;
    color: #fff;
}

.btn--danger.active, .btn--danger:hover {
    background-color: #9A0007;
}

.btn--disable {
    background-color: #E0E0E0;
    color: #9E9E9E;
}

.btn--disable-text {
    color: #9E9E9E;
}
