.page-buttons{
  width: 100%;
}

.buttons{
  padding: 30px 40px;
  width:100%;
  max-width: calc(100% - 50px);
  margin: auto;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
}

.buttons__componet{
  display: flex;
  flex-wrap: wrap;
}

.buttons__componet > .itemBtn{
  min-width: 200px;
  max-width: 300px;
  padding: 20px; 
}

.buttons__componet > .itemBtn:not(:last-child){
  margin-right: 40px;
}

.buttons__componet > .itemBtn > .itemBtn__text {
  font-size: .8rem;
  font-weight: 400;
}


@media (max-width: 994px) {
  .buttons {
    padding: 0; 
  }
}
