.App {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 300px 1fr;
    overflow: hidden;
}

@media (max-width: 994px) {
    .App{
        padding: 0 20px;
        display: block;
    }
}

