.header {
    width: 100%;
    max-width:300px;
    height: 100%;
    background-color: #FAFBFD;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: .5s; 
}

.headerBTN {
    display: none;
}

.header__logo {
    padding-top: 40px;
}

.header__nav {
    width: 70%;
    height: 50px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.header__nav a {
    color: #29292F;
    padding: 5px 0;
    margin: 2px 0 0;
}

.header__nav a:hover {
    font-weight: 600;
    text-decoration: underline;
}

@media (max-width: 994px) {
    .header {
        position: absolute;
        right: -300px;
    }
    .header.active {
        right: 0;
    }
    .headerBTN {
        display: block;
    }
    .headerBTN{
        width: 30px;
        height: 30px;
        position: fixed;
        top: 30px;
        right: 30px;
        padding: 5px;
        border: 1px solid #455A64;
        transition: .5s;
    }
    .headerBTN::before, .headerBTN::after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background-color: #455A64;
        position: absolute;
        top: 20px;
        right: 0;
        border-radius: 5px;
        transition: .5s;
    }
    .headerBTN::after{
        top: 5px;
    }
    .header.active>.headerBTN{
        right: 330px;
    }
    .header.active>.headerBTN::before{
        top: 12px;
        transform: rotate(45deg); 
    }
    .header.active>.headerBTN::after{
        top: 12px;
        transform: rotate(-45deg);
    }
}

@media (max-width : 400px) {
    .header {
        max-width: 100%;
        right: -100%;
    }
    .header.active>.headerBTN{
        left: 25px;
    }
}
